<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azureliveresults.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/157c0442-d686-41d6-8b69-9d18e989b99c/resourceGroups/BlackAD/providers/Microsoft.Web/sites/AzureLiveResults</ResourceId>
    <UserName>$AzureLiveResults</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azureliveresults.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>